{% extends 'base.html.twig' %}

{% block title %}Rentlux : location premium{% endblock %}

{% block body %}

<div class="card text-bg-dark text-center mb-5">
        <img src="{{ asset('img/images/bmw-6.png') }}" class="card-img" alt="bmw">
        <div class="card-img-overlay">
            <h1 class="card-title">Rentlux : location de voitures haut de gamme</h1>
        </div>
</div>

    
        {% for vehicule in voitures %}
        <div class="container text-center px-4">
                <div class="card mb-3">
                    <h3 class="card-header">{{ vehicule.titre }}</h3>
                    <img class="img-fluid d-block mx-auto mt-3" src="{{ asset('img/upload/' ~ vehicule.photo) }}" alt="" width="250">
                    <div class="card-body">
                        <h5 class="card-title">Louez une voiture de luxe</h5>
                </div>               
                    <div class="card-body">
                        <p class="card-text">{{ vehicule.description }}</p>
                    </div>               
                    <div class="card-body">
                    {% if app.user %}
                    
                    <a href="{{ path('voiture_single', {id: vehicule.id} ) }}" class="card-link">Découvrir</a>
                    {% else %}
                    <h6 class="card-subtitle text-muted">Vous devez être connecté pour pouvoir réserver</h6>
                    <div col=6 >
                    <a href="{{ path('app_login') }}" class="card-link">Me connecter</a>
                    <a href="{{ path('app_register') }}" class="card-link">M'inscrire</a>
                    </div>
                    
                    
                    {% endif %}
                    
                        
                    </div>
                </div>
</div>
        {% endfor %}
{% endblock %}
